.mainlayout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px 20px;
    /* Takes at least the full height of the screen */
}

/* 3. The Middle Section (Outlet) */
.main-content {
    flex-grow: 1;
    /* This forces the content to expand and push the footer down */
}

/* 4. Optional: Header and Footer styles */
header {
    /* Set your header height if needed */
    flex-shrink: 0;
}

footer {
    /* Set your footer height if needed */
    flex-shrink: 0;
}

@media (min-width: 1200px) {
    .mainlayout-container {
        padding: 0px 50px;
    }
}